.header{
   background-color: dodgerblue;
   
}
.header__wrapper{
   display: flex;
   align-items: center;

@media (max-width: 900px) {
  flex-direction: column-reverse;
  padding-bottom: 50px;
  text-align: center;
  justify-content: center;
}
   .header__img{
max-width: 600px;
width: 100%;
   }
}

.header__box{
   display: flex;
   flex-direction: column;
   gap: 20px;
   color: aliceblue;
   @media (max-width: 900px) {
     justify-content: center;
     text-align: center;
     align-items: center;
   }

   h1{
 span{

   font-size: 52px;
 }
   }
   p{
 max-width: 400px;
   }
   button{
      max-width: 250px;
      background-color: gold;
      padding: 12px;
      border: none;
      font-weight: 600;
      cursor: pointer;
      transition: 0.3s;

      &:hover{
         background-color: rgb(184, 157, 7);
      }
   }
   
}
